@import url(http://fonts.googleapis.com/css?family=Amaranth);

		header, a, img, li{
			transition: all 1s;
			-moz-transition: all 1s; /* Firefox 4 */
			-webkit-transition: all 1s; /* Safari and Chrome */
			-o-transition: all 1s; /* Opera */
		}

		/* Basic layout */
		body{
			background-image: url(012_3600x3600_all-free-download.com.jpg);
			/*@media only screen and (max-width: 900px) {
            body {margin:20px 8px;}*/
            margin: 0;
		}

		nav ul{
			list-style-type: none;
			float: left;
		}

		nav li{
			display: inline;
			float: left;
		}

		img.logo{
			float: left;
		}


		nav{
			width: 1200px;
			margin: 0 auto;
		}

		section.stretch{
			float: left;
			height: 1500px;
			width: 100%;
		}

			section.stretch p{
				font-family: 'Amaranth', sans-serif;
				font-size: 18px;
				color: #969696;
				text-align: center;
				position: relative;
				margin-top: 250px;
				
			}



			section.stretch p.paragraph_long{
				font-family: sans-serif;
				font-size: 16px;
				color: #000000;
				text-align: center;
				position: relative;
				margin-top: 250px;
				
			}


			section.stretch p.bottom{
				top: 100%;
			}

			/*section.stretch li{
				font-family: 'Amaranth', sans-serif;
				font-size: 30px;
				color: #969696;
				margin: 20px;
				list-style: list-style-image;
			}*/





			#control{
				position: fixed;
				left: 50px;
				top: 200px;
			}




			

		header{
			color: #969696;
			background: #C7C7C7;
			border-bottom: 1px solid #aaaaaa;
			float: left;
			width: 100%;
			position: fixed;
			z-index: 10;
		}

			header a{
				color: #969696;
				text-decoration: none;
				font-family: 'Amaranth', sans-serif;
				text-transform: uppercase;
			}

			header a.active, header a:hover{
				color: #3d3d3d;
			}

			header li{
				margin-right: 30px;
			}

			/* Sizes for the bigger menu */
			header.large{
				/*height: 120px;*/
			}

			header.large img{
				width: 489px;
				height: 113px;
			}

			header.large li{
				margin-top: 45px;
			}

			header.large p{

				font-size: 24px;
				font-style: italic;
				
			}


			/* Sizes for the smaller menu */
			header.small{ 
				/*height: 50px; */
			}

			header.small img{ 
				width: 287px; 
				height: 69px; 
				margin-top: -10px; 
			}

			header.small li{ 
				margin-top: 0px; 
			}

			header.small p{
				font-size: 18px;
				font-weight: 500;
				font-style: italic;
				
			}


/*#carousel {
		width: 480px;
		overflow:hidden;
	}

	#carousel ul {
		width: 1920px;
		padding: 0;
		margin: 0;
	}

	#carousel ul li {
		width:480px;
		text-align: center;
		height: 280px;
		list-style: none;
		float:	left;
	}

			/*p.subtitle1{
				visibility: hidden;
				text-align: bottom;
			}

			p.subtitle2{
				visibility: visible;
			}*/


	#carousel_container {
		
		margin-left: 25%;
		margin-right: 25%;
	}


    #carousel_inner {  
    float:left; /* important for inline positioning */  
    width:630px; /* important (this width = width of list item(including margin) * items shown */  
    height: 300px;
    overflow: hidden;  
    background: #F0F0F0;  
    }  
      
    #carousel_ul {  
    position:relative;  
    left:-210px; /* important (this should be negative number of list items width(including margin) */  
    list-style-type: none; /* removing the default styling for unordered list items */  
    margin: 0px;  
    padding: 0px;  
    width:9999px; /* important */  
    /* non-important styling bellow */  
    padding-bottom:10px;  
    }  
      
    #carousel_ul li{  
    float: left; /* important for inline positioning of the list items */  
    width:200px;  /* fixed width, important */  
    /* just styling bellow*/  
    padding:0px;  
    height:110px;  
    background: #000000;  
    margin-top:0px;  
    margin-bottom:0px;  
    margin-left:0px;  
    margin-right:0px;  
    }  
      
    #carousel_ul li img {  
    .margin-bottom:-4px; /* IE is making a 4px gap bellow an image inside of an anchor (<a href...>) so this is to fix that */  
    /* styling */  
    cursor:pointer;  
    cursor: hand;  
    border:0px;  
    }  
    #left_scroll{  
    position: absolute;
    z-index: 3;
    height:0.25em;  
    width:0.25em;
    background: #C0C0C0; 
    bottom: 50%;
    top: 50%;
    opacity: .5;
    background-position: 0 0;
    -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    transform:scale(0.5);

    #right_scroll{  
    position: absolute;
    z-index: 3;
    height:0.5em;  
    width:0.5em;
    background: #C0C0C0; 
    bottom: 50%;
    top: 50%;
    opacity: .5;
    background-position: 100% 0;
    -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    transform:scale(0.5);


    }  
    #left_scroll img, #right_scroll img{  
    border:0; /* remove the default border of linked image */  
    /*styling*/  
    cursor: pointer;  
    cursor: hand;  
      
    }  



.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}