body {margin:0;}

body {;
;}

header {background: #fff;}

.logo {
	background-image: url('halfstargif.gif');
	float: left;
	width: 293px;
	height: 90px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
	padding: 5;


}

header .p{
	float: right;
	position: relative;
}

.container {
	margin: 0 auto;
	width: 100%;

}

.container li{
	display: inline;
	list-style: none;
}

.container li a{
	a:link { color: black; text-decoration: none }
	a:hover { color: black; background-color: gray }

}

.login {float: right;
margin-top: 31px; /*header height minus login height*/}

nav, footer {background: #fff;}

.hero {background: #77a2b5 url('images/hero.jpg') 50% 0 no-repeat; /* background is a special property that can have multiple properties*/

		height: 350px;
		} 
.features {background: #ece2c6;}

.features ul { list-style: none; /* no bullets*/
	padding:0;
}

.features li {
	background-repeat: no-repeat;
	padding-left: 60px; /* add padding to each li*/
}

.agile{
	background-image: url(images/agile.png);
}

.mobile{background-image: url(images/mobile.png);}

.backwoods{background-image: url(images/cloud.png);}


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}